In [1]:
import pandas as pd

file_name = 'bank-full.csv'
data = pd.read_csv(file_name)

# Display the first few rows
print(data.head())

# Reload the dataset specifying the separator
data = pd.read_csv(file_name, sep=';')

# Display the first few rows to confirm splitting
print(data.head())

# Check the column names
print(data.columns)

# Save the formatted dataset to a new CSV file
formatted_file_name = 'bank_marketing_formatted.csv'
data.to_csv(formatted_file_name, index=False)

# Download the file to the local machine
from google.colab import files
files.download(formatted_file_name)

  age;"job";"marital";"education";"default";"balance";"housing";"loan";"contact";"day";"month";"duration";"campaign";"pdays";"previous";"poutcome";"y"
0  58;"management";"married";"tertiary";"no";2143...
1  44;"technician";"single";"secondary";"no";29;"...
2  33;"entrepreneur";"married";"secondary";"no";2...
3  47;"blue-collar";"married";"unknown";"no";1506...
4  33;"unknown";"single";"unknown";"no";1;"no";"n...
   age           job  marital  education default  balance housing loan  \
0   58    management  married   tertiary      no     2143     yes   no
1   44    technician   single  secondary      no       29     yes   no
2   33  entrepreneur  married  secondary      no        2     yes  yes
3   47   blue-collar  married    unknown      no     1506     yes   no
4   33       unknown   single    unknown      no        1      no   no

   contact  day month  duration  campaign  pdays  previous poutcome   y
0  unknown    5   may       261         1     -1         0  unknown  no
1  unknown    5   may       151         1     -1         0  unknown  no
2  unknown    5   may        76         1     -1         0  unknown  no
3  unknown    5   may        92         1     -1         0  unknown  no
4  unknown    5   may       198         1     -1         0  unknown  no
Index(['age', 'job', 'marital', 'education', 'default', 'balance', 'housing',
       'loan', 'contact', 'day', 'month', 'duration', 'campaign', 'pdays',
       'previous', 'poutcome', 'y'],
      dtype='object')

In [2]:
# Load the formatted dataset
data = pd.read_csv('bank_marketing_formatted.csv')

# Display the first few rows
print(data.head())

# Check data information
print(data.info())

# Check basic statistics for numerical columns
print(data.describe())

# Check the class distribution of the target variable
print(data['y'].value_counts())  #Target column = 'y'

   age           job  marital  education default  balance housing loan  \
0   58    management  married   tertiary      no     2143     yes   no
1   44    technician   single  secondary      no       29     yes   no
2   33  entrepreneur  married  secondary      no        2     yes  yes
3   47   blue-collar  married    unknown      no     1506     yes   no
4   33       unknown   single    unknown      no        1      no   no

   contact  day month  duration  campaign  pdays  previous poutcome   y
0  unknown    5   may       261         1     -1         0  unknown  no
1  unknown    5   may       151         1     -1         0  unknown  no
2  unknown    5   may        76         1     -1         0  unknown  no
3  unknown    5   may        92         1     -1         0  unknown  no
4  unknown    5   may       198         1     -1         0  unknown  no
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45211 entries, 0 to 45210
Data columns (total 17 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   age        45211 non-null  int64
 1   job        45211 non-null  object
 2   marital    45211 non-null  object
 3   education  45211 non-null  object
 4   default    45211 non-null  object
 5   balance    45211 non-null  int64
 6   housing    45211 non-null  object
 7   loan       45211 non-null  object
 8   contact    45211 non-null  object
 9   day        45211 non-null  int64
 10  month      45211 non-null  object
 11  duration   45211 non-null  int64
 12  campaign   45211 non-null  int64
 13  pdays      45211 non-null  int64
 14  previous   45211 non-null  int64
 15  poutcome   45211 non-null  object
 16  y          45211 non-null  object
dtypes: int64(7), object(10)
memory usage: 5.9+ MB
None
                age        balance           day      duration      campaign  \
count  45211.000000   45211.000000  45211.000000  45211.000000  45211.000000
mean      40.936210    1362.272058     15.806419    258.163080      2.763841
std       10.618762    3044.765829      8.322476    257.527812      3.098021
min       18.000000   -8019.000000      1.000000      0.000000      1.000000
25%       33.000000      72.000000      8.000000    103.000000      1.000000
50%       39.000000     448.000000     16.000000    180.000000      2.000000
75%       48.000000    1428.000000     21.000000    319.000000      3.000000
max       95.000000  102127.000000     31.000000   4918.000000     63.000000

              pdays      previous
count  45211.000000  45211.000000
mean      40.197828      0.580323
std      100.128746      2.303441
min       -1.000000      0.000000
25%       -1.000000      0.000000
50%       -1.000000      0.000000
75%       -1.000000      0.000000
max      871.000000    275.000000
y
no     39922
yes     5289
Name: count, dtype: int64

In [4]:
from sklearn.preprocessing import LabelEncoder, StandardScaler

# Separate numerical and categorical columns
numerical_cols = data.select_dtypes(include=['int64', 'float64']).columns
categorical_cols = data.select_dtypes(include=['object']).columns

# Fill missing values
for col in numerical_cols:
    data[col].fillna(data[col].mean(), inplace=True)

for col in categorical_cols:
    data[col].fillna(data[col].mode()[0], inplace=True)

# Encode the target variable in the dataset
data['y'] = data['y'].apply(lambda x: 1 if x == 'yes' else 0)

# Preprocessing for Random Forest
rf_data = data.copy()
label_encoders = {}
for col in categorical_cols:
    le = LabelEncoder()
    rf_data[col] = le.fit_transform(rf_data[col])
    label_encoders[col] = le

# Preprocessing for Neural Networks
nn_data = data.copy()
nn_data = pd.get_dummies(nn_data, columns=categorical_cols, drop_first=True)

scaler = StandardScaler()
nn_data[numerical_cols] = scaler.fit_transform(nn_data[numerical_cols])

# Display processed datasets
print("Random Forest Data:")
print(rf_data.head())
print("\nNeural Network Data:")
print(nn_data.head())

<ipython-input-4-1cb412bfefd9>:9: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data[col].fillna(data[col].mean(), inplace=True)
<ipython-input-4-1cb412bfefd9>:12: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data[col].fillna(data[col].mode()[0], inplace=True)

Random Forest Data:
   age  job  marital  education  default  balance  housing  loan  contact  \
0   58    4        1          2        0     2143        1     0        2
1   44    9        2          1        0       29        1     0        2
2   33    2        1          1        0        2        1     1        2
3   47    1        1          3        0     1506        1     0        2
4   33   11        2          3        0        1        0     0        2

   day  month  duration  campaign  pdays  previous  poutcome  y
0    5      8       261         1     -1         0         3  0
1    5      8       151         1     -1         0         3  0
2    5      8        76         1     -1         0         3  0
3    5      8        92         1     -1         0         3  0
4    5      8       198         1     -1         0         3  0

Neural Network Data:
        age   balance       day  duration  campaign     pdays  previous    y  \
0  1.606965  0.256419 -1.298476  0.011016 -0.569351 -0.411453  -0.25194  0.0
1  0.288529 -0.437895 -1.298476 -0.416127 -0.569351 -0.411453  -0.25194  0.0
2 -0.747384 -0.446762 -1.298476 -0.707361 -0.569351 -0.411453  -0.25194  0.0
3  0.571051  0.047205 -1.298476 -0.645231 -0.569351 -0.411453  -0.25194  0.0
4 -0.747384 -0.447091 -1.298476 -0.233620 -0.569351 -0.411453  -0.25194  0.0

   job_blue-collar  job_entrepreneur  ...  month_jul  month_jun  month_mar  \
0            False             False  ...      False      False      False
1            False             False  ...      False      False      False
2            False              True  ...      False      False      False
3             True             False  ...      False      False      False
4            False             False  ...      False      False      False

   month_may  month_nov  month_oct  month_sep  poutcome_other  \
0       True      False      False      False           False
1       True      False      False      False           False
2       True      False      False      False           False
3       True      False      False      False           False
4       True      False      False      False           False

   poutcome_success  poutcome_unknown
0             False              True
1             False              True
2             False              True
3             False              True
4             False              True

[5 rows x 43 columns]